body{
    color : black;
  }
  
  .navBarStyle{
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    min-height: 6vh;
    box-shadow: 0px 7px 5px 0px rgba(11,48,77,0.91);
    margin-bottom: 0.5%;
  }
  .sallesAfpaTitle{
    color: black;
    font-family: trajan-pro-3, serif;
    font-weight: 600;
    
  }
  
  .white{
   color: black;
  }
  
   .headerLink{
    color: black;
    font-family: trajan-pro-3, serif;
    font-size: 1.2rem;
    display: inline-block;
  }
  .headerLink:hover, .sallesAfpaTitle:hover, .deconnexionLink:hover{
    background-color: rgb(11, 47, 77);
    color: white;
  }
  
  a{
    color: rgb(255, 255, 255);
    padding: 0.4em;
    text-decoration: none;
  }
  #listMob{
    color: teal;
  }
  .listMob{
    
    display: inline-block;
    background-color: rgb(255, 255, 255);
    margin:-1%
   
  }
  .deconnexionLink{
    color: rgb(28, 6, 223);
    font-family: trajan-pro-3, serif;
    font-size: 1.2rem;
    display: inline-block;
  }